{%- set flip_checked = "checked" if request.args['flip'] == "on" -%}
{%- set fill_checked = "checked" if request.args['fill'] == "on" -%}
{%- set size_value = request.args.get("fontsize", 300) -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <script defer src="{{ url_for('static', filename='main.js')}}"></script>
        <!-- <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form id="params" action="{{ url_for('index') }}"
            hx-get="{{ url_for('result') }}" hx-target="#result" hx-swap="outerHTML"
            hx-disabled-elt="#create-button">
            <label>
                Texto:<br>
                <textarea rows="6" cols="30" name="text" required id="text">{{ request.args.text }}</textarea>
            </label>
            <fieldset>
                <legend>Opciones</legend>
                <label>
                    <input type="checkbox" name="flip" id="flip" {{ flip_checked }}>Voltear
                </label>
                <br>
                <label>
                    <input type="checkbox" name="fill" id="fill" {{ fill_checked }}>Rellenar
                </label>
                <br>
                <label>
                    Tamaño de letra:
                    <input type="number" name="fontsize" id="fontsize" min="1" max="500" value="{{ size_value }}">
                </label>
            </fieldset>
            <div class="spacer"></div>
            <div class="htmx-indicator">Cargando...</div>
            <button type="submit" id="create-button">Crear</button>
        </form>
        {% include 'result-fragment.html' %}
    </body>
</html>
